@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 3px;
    font-size: .8em;
}

::placeholder {
    color: hsl(270, 3%, 87%);
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    position: relative;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 25%;
    width: 100%;
    background-image: url(./images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    z-index: 1;
}

.left img {
    width: 14.5rem;
    height: auto;
    position: absolute;
    z-index: -1;
}

.card-back {
    position: relative;
    margin-left: 6rem;
}

.card-back p{
    padding-top: 3rem;
    padding-left: 10rem;
}

.card-back img{
    top: .5rem;
}

.card-front p {
    padding-left: .5rem;
}

.graphics {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: .4rem;
    padding-left: .5rem;
}

.white-circle, .small-circle {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.small-circle {
    background-color: transparent;
    width: 15px;
    height: 15px;
    border: 1px solid white;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 15rem;
}

form {
    margin: 1rem;
    color: hsl(278, 68%, 11%);
}

form input {
    width: 100%;
    padding: .5rem; 
}

.exp-info {
    display: flex;
    width: 100%;
}

.exp-info .info {
    display: flex;
    flex-direction: column;
}

.exp-input {
    display: flex;
}

.cvc-input {
    display: flex;
}

button {
    padding: 1rem;
    margin-top: 1.109rem;
    border-radius: 10px;
    width: 100%;
    background-color: hsl(278, 68%, 11%);
    color: white;
}

@media screen and (min-width: 768px) {
    .container, .left {
        height: 100vh;
        gap: 2rem;
        justify-content: space-between;
    }

    .right {
        justify-content: center;
        padding-right: 2rem;
    }

    .left {
        max-width: 20rem;
        justify-content: center;
    }

    .left p {
        font-size: 1.5em;
    }

    .left img {
        width: 23rem;
    }

    .card-back img {
        top: -3rem;
    }

    .card-back p {
        padding-top: 1.3rem;
        padding-left: 17rem;
    }

    .right {
        max-width: 25rem;
        padding-left: 7rem;
    }
}
